---
http_interactions:
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/taxcloud.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://taxcloud.net"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:Lookup><tns:customerID>76570590</tns:customerID><tns:cartID>cart_19</tns:cartID><tns:cartItems><tns:CartItem><tns:Index>0</tns:Index><tns:ItemID>Ticket</tns:ItemID><tns:TIC>91083</tns:TIC><tns:Price>30.0</tns:Price><tns:Qty>1</tns:Qty></tns:CartItem><tns:CartItem><tns:Index>1</tns:Index><tns:ItemID>Processing</tns:ItemID><tns:TIC>10010</tns:TIC><tns:Price>1.0</tns:Price><tns:Qty>1</tns:Qty></tns:CartItem><tns:CartItem><tns:Index>2</tns:Index><tns:ItemID>Shipping</tns:ItemID><tns:TIC>11000</tns:TIC><tns:Price>2.0</tns:Price><tns:Qty>1</tns:Qty></tns:CartItem></tns:cartItems><tns:origin><tns:Address1>1060
        W. Addison</tns:Address1><tns:Address2 xsi:nil="true"/><tns:City>Chicago</tns:City><tns:State>IL</tns:State><tns:Zip5>60613</tns:Zip5><tns:Zip4
        xsi:nil="true"/></tns:origin><tns:destination><tns:Address1>1061 W. Addison</tns:Address1><tns:Address2></tns:Address2><tns:City>Chicago</tns:City><tns:State>IL</tns:State><tns:Zip5>60613</tns:Zip5><tns:Zip4
        xsi:nil="true"/></tns:destination><tns:apiLoginID>30A9E2C0</tns:apiLoginID><tns:apiKey>9071a865-8d95-4d4d-965c-40fc53376c05</tns:apiKey></tns:Lookup></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://taxcloud.net/Lookup"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><LookupResponse
        xmlns="http://taxcloud.net"><LookupResult><ResponseType>OK</ResponseType><Messages
        /><CartID>cart_19</CartID><CartItemsResponse><CartItemResponse><CartItemIndex>0</CartItemIndex><TaxAmount>0</TaxAmount></CartItemResponse><CartItemResponse><CartItemIndex>1</CartItemIndex><TaxAmount>0</TaxAmount></CartItemResponse><CartItemResponse><CartItemIndex>2</CartItemIndex><TaxAmount>0.21</TaxAmount></CartItemResponse></CartItemsResponse></LookupResult></LookupResponse></soap:Body></soap:Envelope>
  recorded_at: Sat, 25 Apr 2020 16:01:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2021&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1GbqRmHXfg0hMUpoQG4fL9NI",
          "object": "token",
          "card": {
            "id": "card_1GbqRmHXfg0hMUpo2ETwXwxU",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "FGdEB4CmbE0dJpLj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "138.75.152.65",
          "created": 1587830502,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 25 Apr 2020 16:01:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3321&currency=usd&source=tok_1GbqRmHXfg0hMUpoQG4fL9NI&description=&metadata[reference]=88a63af236c8968a9dc3
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 88a63af236c8968a9dc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 88a63af236c8968a9dc3
      Original-Request:
      - req_y66Do2SGHpR5bz
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1GbqRmHXfg0hMUpoxZp8DBtv",
          "object": "charge",
          "amount": 3321,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1GbqRnHXfg0hMUpoMv6z16hI",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "created": 1587830502,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "88a63af236c8968a9dc3"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1GbqRmHXfg0hMUpo2ETwXwxU",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2021,
              "fingerprint": "FGdEB4CmbE0dJpLj",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_187d9OHXfg0hMUpo/ch_1GbqRmHXfg0hMUpoxZp8DBtv/rcpt_HAAnULvTbLi2aoGRKvSHuBzROzyQIyf",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1GbqRmHXfg0hMUpoxZp8DBtv/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1GbqRmHXfg0hMUpo2ETwXwxU",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "FGdEB4CmbE0dJpLj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sat, 25 Apr 2020 16:01:43 GMT
[...]
- request:
    method: post
    uri: https://api.taxcloud.net/1.0/taxcloud.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://taxcloud.net"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:AuthorizedWithCapture><tns:customerID>76570590</tns:customerID><tns:cartID>payment_88a63af236c8968a9dc3</tns:cartID><tns:orderID>88a63af236c8968a9dc3</tns:orderID><tns:dateAuthorized>2020-04-26</tns:dateAuthorized><tns:dateCaptured>2020-04-26</tns:dateCaptured><tns:apiLoginID>30A9E2C0</tns:apiLoginID><tns:apiKey>9071a865-8d95-4d4d-965c-40fc53376c05</tns:apiKey></tns:AuthorizedWithCapture></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://taxcloud.net/AuthorizedWithCapture"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AuthorizedWithCaptureResponse
        xmlns="http://taxcloud.net"><AuthorizedWithCaptureResult><ResponseType>OK</ResponseType><Messages
        /></AuthorizedWithCaptureResult></AuthorizedWithCaptureResponse></soap:Body></soap:Envelope>
  recorded_at: Sat, 25 Apr 2020 16:01:46 GMT
recorded_with: VCR 5.1.0
