---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2021&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1GH3V4HXfg0hMUpovcWOXXWM",
          "object": "token",
          "card": {
            "id": "card_1GH3V4HXfg0hMUpoz5sAQXWf",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "2vCj3LhSv8QGlo8Y",
            "funding": "credit",
            "last4": "0002",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "180.129.12.174",
          "created": 1582875790,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 28 Feb 2020 07:43:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&source=tok_1GH3V4HXfg0hMUpovcWOXXWM&description=&metadata[reference]=reference
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - reference
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - reference
      Original-Request:
      - req_I5k9bIO3AeHvFW
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Keys for idempotent requests can only be used
        with the same parameters they were first used with. Try using a key other
        than ''reference'' if you meant to execute a different request.","type":"idempotency_error"}}'
  recorded_at: Fri, 28 Feb 2020 07:43:11 GMT
recorded_with: VCR 5.1.0
