---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2021&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1G97IiHXfg0hMUpoMxAZK4Og",
          "object": "token",
          "card": {
            "id": "card_1G97IhHXfg0hMUponQ1ljb8W",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "FGdEB4CmbE0dJpLj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "180.129.32.233",
          "created": 1580983776,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 06 Feb 2020 10:09:36 GMT
recorded_with: VCR 5.1.0
