---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2021&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1GZzUYHXfg0hMUpomVBqFXGb",
          "object": "token",
          "card": {
            "id": "card_1GZzUXHXfg0hMUpoO1v3Jqr1",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "FGdEB4CmbE0dJpLj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "180.129.106.7",
          "created": 1587388614,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 20 Apr 2020 13:16:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=buyer%40cubs.com
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_H8G0ypLnvf0bHB",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1587388614,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "buyer@cubs.com",
          "invoice_prefix": "48419EDB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_H8G0ypLnvf0bHB/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_H8G0ypLnvf0bHB/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_H8G0ypLnvf0bHB/tax_ids"
          }
        }
  recorded_at: Mon, 20 Apr 2020 13:16:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_H8G0ypLnvf0bHB
    body:
      encoding: UTF-8
      string: source=tok_1GZzUYHXfg0hMUpomVBqFXGb
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encodin[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_H8G0ypLnvf0bHB/subscriptions
    body:
      encoding: UTF-8
      string: plan=vip_monthly
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_H8G0dPVYvAA3KR",
          "object": "subscription",
          "application_fee_percent": null,
          "billing_cycle_anchor": 1587388615,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1587388615,
          "current_period_end": 1589980615,
          "current_period_start": 1587388615,
          "customer": "cus_H8G0ypLnvf0bHB",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_H8G0N3Wc9xfykv",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1587388616,
                "metadata": {
                },
                "plan": {
                  "id": "vip_monthly",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 30000,
                  "amount_decimal": "30000",
                  "billing_scheme": "per_unit",
                  "created": 1583135392,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "VIP Monthly",
                  "product": "prod_Gpof2c6E5CbbFs",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_H8G0dPVYvAA3KR",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_H8G0dPVYvAA3KR"
          },
          "latest_invoice": "in_1GZzUaHXfg0hMUpo0QQL3OOZ",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pause_collection": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "vip_monthly",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 30000,
            "amount_decimal": "30000",
            "billing_scheme": "per_unit",
            "created": 1583135392,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": "VIP Monthly",
            "product": "prod_Gpof2c6E5CbbFs",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1587388615,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Mon, 20 Apr 2020 13:16:59 GMT
recorded_with: VCR 5.1.0
