---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2021&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1GctLMHXfg0hMUpo9pxUQI9a",
          "object": "token",
          "card": {
            "id": "card_1GctLLHXfg0hMUpo7BN4mKR7",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "2vCj3LhSv8QGlo8Y",
            "funding": "credit",
            "last4": "0002",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "138.75.82.40",
          "created": 1588079964,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 28 Apr 2020 13:19:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&source=tok_1GctLMHXfg0hMUpo9pxUQI9a&description=&metadata[reference]=128142ba75d6981e04b1
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 128142ba75d6981e04b1
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 128142ba75d6981e04b1
      Original-Request:
      - req_3UkB0LHOr3htJl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1GctLMHXfg0hMUpoKkZN31pH",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Tue, 28 Apr 2020 13:19:25 GMT
recorded_with: VCR 5.1.0
