---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QWRsODBzZUJIa2F2X0k0VjRSdFIzaVMyVll0blMtSldULUJHTDJET3Z6TWl0UEtwSEtWbXA1cVVmdF9HV0Ewb0RDbWVveHljd2hzU1d0b0g6RUYydC1VTXVMSFREQXFBaDNLWndXbHVJVFNvTUNNYkxoN0dnVVgxWXNGMU03ZHB0MjVsRXdjNlhEOXZWYmJWX0VHczF5WVFxSThDMXBza04=
      Paypal-Request-Id:
      - 0a58a8fb-23fc-4cb0-83c8-6cb615b6662d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - edf46a618292f
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAFW6gjSvnlC7VB4eimRmNZ9Hfe3XPl44TpG11PFdtupI1zcyqlb7f_zJKkRehQef3lFW2fln2sYjPGCVOFpt-3QxwXPNA","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31862,"nonce":"2020-03-30T10:09:53Z5AmbC7kZjX-I_uJvNJFm59MDMFiahXW9exjHfzjjkLY"}'
  recorded_at: Mon, 30 Mar 2020 10:18:51 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"990805833","name":"1","quantity":"1","price":"15.00","currency":"USD"},{"sku":"990805833","name":"2","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http:///paypal/approved","cancel_url":"http:///paypal/rejected"}}'
    headers:
      Authorization:
      - Bearer A21AAFW6gjSvnlC7VB4eimRmNZ9Hfe3XPl44TpG11PFdtupI1zcyqlb7f_zJKkRehQef3lFW2fln2sYjPGCVOFpt-3QxwXPNA
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 0a58a8fb-23fc-4cb0-83c8-6cb615b6662d
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Language:
      - "*"
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 6dece562f650c
    body:
      encoding: UTF-8
      string: '{"id":"PAYID-L2A4PDI56R78535M3593240W","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"1","sku":"990805833","price":"15.00","currency":"USD","quantity":1},{"name":"2","sku":"990805833","price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2020-03-30T10:18:52Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAYID-L2A4PDI56R78535M3593240W","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-30P394933J703631P","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAYID-L2A4PDI56R78535M3593240W/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Mon, 30 Mar 2020 10:18:53 GMT
recorded_with: VCR 5.1.0
