---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QWRsODBzZUJIa2F2X0k0VjRSdFIzaVMyVll0blMtSldULUJHTDJET3Z6TWl0UEtwSEtWbXA1cVVmdF9HV0Ewb0RDbWVveHljd2hzU1d0b0g6RUYydC1VTXVMSFREQXFBaDNLWndXbHVJVFNvTUNNYkxoN0dnVVgxWXNGMU03ZHB0MjVsRXdjNlhEOXZWYmJWX0VHczF5WVFxSThDMXBza04=
      Paypal-Request-Id:
      - 5f515232-4bef-4fb4-8991-b70a0357ce39
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 662809ee09a1b
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAF0iCyNoeM4PE0UPiPfUK99YEjdYaogJQIanbTDu6BTCA1dOBDOwsCYG-JbugOgq1Yl2Vwgbpzgwn5ImEAIHD6MGw07QQ","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400,"nonce":"2020-04-20T13:17:19Z82LN9brnSVljaoDLLT2dP9V2tnTMZ5RQ4jqGe6cOQ-k"}'
  recorded_at: Mon, 20 Apr 2020 13:17:19 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"990805846","name":"18","quantity":"1","price":"15.00","currency":"USD"},{"sku":"990805846","name":"19","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http:///paypal/approved","cancel_url":"http:///paypal/rejected"}}'
    headers:
      Authorization:
      - Bearer A21AAF0iCyNoeM4PE0UPiPfUK99YEjdYaogJQIanbTDu6BTCA1dOBDOwsCYG-JbugOgq1Yl2Vwgbpzgwn5ImEAIHD6MGw07QQ
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 5f515232-4bef-4fb4-8991-b70a0357ce39
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Language:
      - "*"
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 6a555bb78ffb
    body:
      encoding: UTF-8
      string: '{"id":"PAYID-L2O2B2A4J716307UH9407350","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"18","sku":"990805846","price":"15.00","currency":"USD","quantity":1},{"name":"19","sku":"990805846","price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2020-04-20T13:17:27Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAYID-L2O2B2A4J716307UH9407350","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-28X57876E2531072F","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAYID-L2O2B2A4J716307UH9407350/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Mon, 20 Apr 2020 13:17:28 GMT
recorded_with: VCR 5.1.0
