---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QWRsODBzZUJIa2F2X0k0VjRSdFIzaVMyVll0blMtSldULUJHTDJET3Z6TWl0UEtwSEtWbXA1cVVmdF9HV0Ewb0RDbWVveHljd2hzU1d0b0g6RUYydC1VTXVMSFREQXFBaDNLWndXbHVJVFNvTUNNYkxoN0dnVVgxWXNGMU03ZHB0MjVsRXdjNlhEOXZWYmJWX0VHczF5WVFxSThDMXBza04=
      Paypal-Request-Id:
      - 76738076-e92b-4adc-b758-a3200e0784df
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - c03f3bf134ebd
      X-Paypal-Token-Service:
      - IAAS
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAEvarntoahUWOAKZFUVLiy5Cb5Vr8FvXWoXmA-YSZbX1H5jv0yOx3ZNOOur5CEPVjm2RXMgHdsm4pY08Pn4w2u-LArrVg","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32364,"nonce":"2020-02-16T09:06:51ZGgLUscsI23JDuAgV6LfzQ_bUQjDgRxQXQgSAxuSRCGQ"}'
  recorded_at: Sun, 16 Feb 2020 09:07:27 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"1","name":"MyString
        15 Jul 20:07","quantity":"1","price":"15.00","currency":"USD"},{"sku":"1","name":"MyString
        15 Jul 20:07","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http:///paypal/approved","cancel_url":"http:///paypal/rejected"}}'
    headers:
      Authorization:
      - Bearer A21AAEvarntoahUWOAKZFUVLiy5Cb5Vr8FvXWoXmA-YSZbX1H5jv0yOx3ZNOOur5CEPVjm2RXMgHdsm4pY08Pn4w2u-LArrVg
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 76738076-e92b-4adc-b758-a3200e0784df
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Language:
      - "*"
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - db03367ea2d28
    body:
      encoding: UTF-8
      string: '{"id":"PAYID-LZEQMUI7US23706CA392730C","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"MyString
        15 Jul 20:07","sku":"1","price":"15.00","currency":"USD","quantity":1},{"name":"MyString
        15 Jul 20:07","sku":"1","price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2020-02-16T09:07:28Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAYID-LZEQMUI7US23706CA392730C","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-0BN5346481660244U","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAYID-LZEQMUI7US23706CA392730C/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Sun, 16 Feb 2020 09:07:29 GMT
recorded_with: VCR 5.1.0
