---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: id=basic_monthly_1587388626&product[name]=Basic+Monthly&nickname=Basic+Monthly&amount=2000&currency=usd&interval=month
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1587388626",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 2000,
          "amount_decimal": "2000",
          "billing_scheme": "per_unit",
          "created": 1587388626,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Basic Monthly",
          "product": "prod_H8G0pGPDUDLmi8",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Mon, 20 Apr 2020 13:17:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/basic_monthly_1587388626
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1587388626",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 2000,
          "amount_decimal": "2000",
          "billing_scheme": "per_unit",
          "created": 1587388626,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": "Basic Monthly",
          "product": "prod_H8G0pGPDUDLmi8",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Mon, 20 Apr 2020 13:17:07 GMT
recorded_with: VCR 5.1.0
