---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: country=US&type=custom&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1GcSV0GOIdZuTQOW",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "country": "US",
          "created": 1587976774,
          "default_currency": "usd",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1GcSV0GOIdZuTQOW/external_accounts"
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "current_deadline": null,
            "currently_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "relationship.representative",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "relationship.representative",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "relationship.representative",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": false,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "custom"
        }
  recorded_at: Mon, 27 Apr 2020 08:39:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2021&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1GcSV2HXfg0hMUpoxaMM3hyS",
          "object": "token",
          "card": {
            "id": "card_1GcSV2HXfg0hMUpouPEG1QyM",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2021,
            "fingerprint": "FGdEB4CmbE0dJpLj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "138.75.115.8",
          "created": 1587976776,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 27 Apr 2020 08:39:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&source=tok_1GcSV2HXfg0hMUpoxaMM3hyS&description=&metadata[reference]=472ed3907111696f731b&destination=acct_1GcSV0GOIdZuTQOW&application_fee=2375
    headers:
      Authorization:
      - Bearer sk_test_9XcreVOMmIA1lYgd7EIRwfSr
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 472ed3907111696f731b
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 472ed3907111696f731b
      Original-Request:
      - req_Or2KD53TJ7J3Ne
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your destination account needs to have at least one of the following capabilities enabled: transfers, legacy_payments",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 27 Apr 2020 08:39:36 GMT
recorded_with: VCR 5.1.0
