---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"22.50"},"item_list":{"items":[{"sku":"990805847","name":"20","quantity":"1","price":"15.00","currency":"USD"},{"sku":"990805847","name":"21","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http:///paypal/approved","cancel_url":"http:///paypal/rejected"}}'
    headers:
      Authorization:
      - Bearer A21AAF0iCyNoeM4PE0UPiPfUK99YEjdYaogJQIanbTDu6BTCA1dOBDOwsCYG-JbugOgq1Yl2Vwgbpzgwn5ImEAIHD6MGw07QQ
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 06b293f3-1715-4d02-9ce5-4f8c7f636264
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - "*"
      Content-Type:
      - application/json
      Paypal-Debug-Id:
      - 6349eb84d4a81
    body:
      encoding: UTF-8
      string: '{"name":"VALIDATION_ERROR","details":[{"field":"transactions[0]","issue":"Item
        amount must add up to specified amount subtotal (or total if amount details
        not specified)"}],"message":"Invalid request - see details","information_link":"https://developer.paypal.com/docs/api/payments/#errors","debug_id":"6349eb84d4a81"}'
  recorded_at: Mon, 20 Apr 2020 13:17:29 GMT
recorded_with: VCR 5.1.0
